<html>
<head>
<title>易元康健康</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/qinco.css}" rel="stylesheet" />
<link th:href="@{/css/main2.css}" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>
<body>

    <div class="col-sm-12 padding0"  >
		<div class="form-control  btn-greey left" style="height: 41px;">
			<label style="vertical-align: bottom; font-size: 16px;"><a
				class="baizi" onClick="javascript :history.back(-1);"
				style="padding-right: 55px; padding-left: opx;"> ＜ </a> 
			</label> 
			<label style="vertical-align: bottom; font-size: 16px;padding-top:5px;">易元康服务知情同意书</label>
		</div>
	</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">

				<p class="padding-t20">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;尊敬的阁下，非常高兴能为您提供健康咨询、医疗就医咨询服务。健康是人生存之根本，
				为了对您的健康和治疗提供帮助，同时为了正确理解本次服务的内容与范围，烦请您阅读《服务知情书》，
				<label class="bold" style="display: unset;">经您确认同意后，本司工作人员按约定提供有偿的服务。</label>
				</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人自愿接受易元康提供的健康咨询和医疗就医咨询服务。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1、易元康不是治疗机构，提供的服务包含诊前咨询和建议、根据您的意愿提供专业性导诊、实施方案建议和就医协调服务。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、根据您的需求和确认的就诊方案，易元康提供有偿服务，包含专家预约、重点检查、
				床位预约、手术预约等重点治疗环节，以及后续的健康咨询跟踪。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3、经双方沟通需求和服务方案后，易元康提出医疗协调服务，由于资源紧缺和时效有限，
				您须在2~4小时确认服务，以支付服务费用为准;由于您支付费用延迟而导致服务方案需要更改的，
				双方同意共同协商变更方案，因方案变更导致的服务费用变化您须理解和接受。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、您已经支付定金或服务费用后，由于所沟通方案，发生不可抗拒的调整和变化，包含但不限于如专家有紧急任务改变就诊时间或停诊、由于特殊气候、政治事件、政府政策而导致治疗预案需要改变的，您须理解，易元康将与您一同协商解决。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5、根据您的需求或者易元康给予的推荐选择了预约服务后，在门诊、检查及手术等需按预约的号数正常顺序排队等候。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6、您在接受服务后，由于自身原因导致不能前往就医治疗，所支付的服务费用原则_上不予退还。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7、您在接受服务后，由于原有症状发生的不可预见性的意外，包含但不限于由于患者意外受伤、自行不慎受伤、就医之前病情恶化等，与易元康提供服务无关，易元康不承担相应责任关系。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8、您接受服务到达医院接受治疗后,
				治疗过程中不慎发生的医疗事故或意外导致您发生的个人状况与易元康提供服务无关，易元康不承担相应责任关系。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9、根据您的需求和易元康的服务建议所选择的就医协调， 治疗效果根据患者自身情况和医院治疗方案而定，易元康不对治疗效果和治疗结果承诺。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10、您在医院治疗结束后，回程或后续康复过程中发生不可预见性的意外，与易元康提供服务无关，易元康不承担相应责任关系。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11、您有再次服务需求的，易元康将给予最大的服务支持和优惠，但与之前所提供服务内容属于独立关系，不捆绑结算。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人是具有完全民事行为能力的自然人，意识清醒，以，上服务知情书条款，我已认真阅读知晓和完全理解，本人自愿接受以上服务。</p>
				<p class="bold"><label class="bold" style="display: unset;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以上可通过【易元康健康】官方微信公众平台点选【同意】确认为证。</label></p>
			</div>
	</div>
</div>
</body>
</html>