<html>
<head>
<title>易元康健康</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/qinco.css}" rel="stylesheet" />
<link th:href="@{/css/main2.css}" rel="stylesheet" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">

					<p class="padding-t20">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广州易元康健康管理咨询有限公司，是一家健康医疗高端服务型公司，公司致力于为急重症患者、疑难杂症患者及特殊医疗需求高端客户群体提供医疗咨询、异地就医保障、健康管理等贴心服务，为客户解决看病难、看病烦等实际问题。
					</p>
					<p class="padding-t20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;全球环境恶化，气候无常，四季紊乱；现代生活压力大，工作强度大；面对错综复杂的社会现状，各种急重症衍生，老年慢性病年轻化；而目前医疗资源分布不平衡，集中在几大一线城市，看病难，看病烦，成了患者及家属急火攻心的难题。
					</p>
					<p class="padding-t20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;一个朋友总有三个帮，碰上就医问题托人情、找关系，是第一反应。可第一：人情债太重，关系周折、麻烦，最重要的不专业的建议可能导致贻误最佳治疗时机；
					</p>
					<p class="padding-t20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第二，朋友帮忙了，怎么感谢，没有谁应该帮你，处理不当往往容易造成好朋友隔阂甚至关系破裂；
					</p>
					<p class="padding-t20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三，万一没有合适的帮忙怎么办，来到大医院两眼一抹黑，心急如焚却不知所措，可能小病酿成大病，大病不及时治疗造成生命危险。这时候，及时准确的就医信息更重要。
					</p>
					<p class="padding-t20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;易元康经过多年的医疗行业从业经历和医疗资源积累，以及众多的患者案例体会，以
					<label class="bold" style="display: unset;">南方医科大学南方医院、广东省人民医院、中山大学附属医院等国家重点三甲医院</label>为主要合作支撑，利用专业建议和有效资源致力为急重症患者提供专业咨询、贴心服务和陪诊治疗，为您保重身体、珍惜生命做一份有价值、有福报的绵薄贡献。
					</p>
					<p class="padding-t20">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					易元康积极参与社会各界活动，在广东省江西大余商会筹备成立之际，积极参与筹备策划和成立大会事务，并成为理事单位，旨在做有社会责任感的企业，为关爱家乡人民健康提供一份服务责任。					
					</p>
				</div>
			</div>
		</div>
</body>
</html>