<html>
<head>
<title>易元康健康</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/qinco.css}" rel="stylesheet" />
<link th:href="@{/css/main2.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-1.7.2.js}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>
<body>

    <div class="col-sm-12 padding0"  >
		<div class="form-control  btn-greey left" style="height: 41px;">
			<label style="vertical-align: bottom; font-size: 16px;padding-left:10px;padding-top:5px;">预约信息填写</label><label
				class="margin-l10 margin-t10 label-small baizi">信息会加密保证您的隐私安全</label>
		</div>
	</div>
	<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">


				<form  id="J_weixin1_form" class="form margin-t20" enctype="multipart/form-data">
					<span class="glyphicon glyphicon-user margin5" style="color:#6fb82b;"></span>
					<span style="color: #999; opacity: 1;">姓名<font color="red">*</font></span>
					<div class="form-group padding-b10">
					<!-- 王小二 -->
						<input id="J_name" placeholder="" class="form-control  input-lg  border-light-1 bg-lyellow grid98 radius-0" name="name" type="text" />
					</div>
					<span class="glyphicon glyphicon-phone margin5" style="color:#6fb82b;"></span>
					<span style="color: #999; opacity: 1;">电话<font color="red">*</font></span>
					<div class="form-group padding-b10">
					<!-- 13826185040 -->
						<input id="J_phone" placeholder="" class="form-control  input-lg  border-light-1 bg-lyellow grid98 radius-0" name="phone" type="text" />
					</div>
					<span class="glyphicon glyphicon-map-marker margin5" style="color:#6fb82b;"></span>
					<span style="color: #999; opacity: 1;">地址</span>
					<div class="form-group padding-b10">
					<!-- 广州市白云区东平大道8号 -->
						<input id="J_address" placeholder="" class="form-control  input-lg  border-light-1 bg-lyellow grid98 radius-0" name="address" type="text" />
					</div>
					<span class="glyphicon glyphicon-comment margin5" style="color:#6fb82b;"></span>
					<span style="color: #999; opacity: 1;">预约项目<font color="red">*</font></span>
					<div class="form-group padding-b10">
					<!-- 医生外出治疗 -->
						<input id="J_project" placeholder="" class="form-control  input-lg  border-light-1 bg-lyellow grid98 radius-0" name="project" type="text" />
					</div>
					<div class="form-group padding-b20  center">
						<div>同意
						<span style="line-height: 20px;">
						<label class="padding-l20">
						
						<input id="J_confirm" type="checkbox" class="" style="display: inline-block;zoom:150%;vertical-align: bottom;pad"/><a href="/confirm"  style="color: orange;font-size: 16px;padding-left: 5px;">服务知情同意书</a>
						</label>
						</span>
						 </div>
					</div>
					<input name="openid" th:value="${openid}" id="J_openid" type="hidden" />
					<div class="form-group center">
						<input  id="formSubmit" data-activetext="提交信息 ››"
							class="btn btn-red btn-xlg margin-t10 grid90" value="提交信息"
							type="button" />
					</div>
				</form>
			</div>
	</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
	
	$(function(){
		$('#formSubmit').click(function() {
			var name = $("#J_name").val();
		    var phone = $("#J_phone").val();
			var address = $("#J_address").val();
			var project = $("#J_project").val();
			var openid = $("#J_openid").val();
			var confirm = '0';
			
			 var chk = $("#J_confirm");
		        var checked = chk.is(':checked');
		        if (checked) {
		        	confirm = '1';
		        } else {
		        	confirm = '0';
		        }
			
			if(!name ){
				alert('请填写姓名');
				return ;
			}
			if(!phone ){
				alert('请填写电话');
				return ;
			}
			if(!project ){
				alert('请填写预约项目');
				return ;
			}
			if(confirm!=1){
				alert('请勾选服务知情同意书');
				return ;
			}
			$.ajax({
				url : "/saveOrder",
				type : "post",
				data : {"name":name,"phone":phone,"address":address,"project":project,"confirm":confirm,"openid":openid},
				success : function(msg) {
					console.log(msg);
					if (msg  == "success") {
						alert('您的预约已提交，我们将尽快回复您。');
						$('#formSubmit').attr('disabled', true);
					} else {
						alert('出错了');
					}
				}

			});
		});
	})
	

	/*]]>*/
</script>
</body>
</html>