<html>
<head>
<title>订单列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/qinco.css}" rel="stylesheet" />
<link th:href="@{/css/main2.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-1.7.2.js}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>
<body>

<table class="table table-striped margin-t20">
	<caption>订单列表</caption>
	<thead>
		<tr>
			<th>姓名	</th>
			<th>电话</th>
			<th>地址</th>
			<th>预约项目</th>
			<th>预约时间</th>
		</tr>
	</thead>
	<tbody>
	    <tr  th:each="order : ${orderList}" >
	    	<td th:text="${order.name}"></td>
	    	<td th:text="${order.phone}"></td>
	    	<td th:text="${order.address}"></td>
	    	<td th:text="${order.project}"></td>
	    	<td th:text="${order.addtime}"></td>
	    </tr>
	</tbody>
</table>
    
</body>
</html>